## Summary of data
## Properties from San Jose, CA
## 5,753 listings
## 92 different neighborhoods

In [1]:
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.patches as patches
import matplotlib.path as path

from string import punctuation

In [2]:
def make_histogram(data, bins):
    fig, ax = plt.subplots()

    # histogram our data with numpy
    n, bins = np.histogram(data, bins)

    # get the corners of the rectangles for the histogram
    left = np.array(bins[:-1])
    right = np.array(bins[1:])
    bottom = np.zeros(len(left))
    top = bottom + n


    # we need a (numrects x numsides x 2) numpy array for the path helper
    # function to build a compound path
    XY = np.array([[left, left, right, right], [bottom, top, top, bottom]]).T

    # get the Path object
    barpath = path.Path.make_compound_path_from_polys(XY)

    # make a patch out of it
    patch = patches.PathPatch(barpath)
    ax.add_patch(patch)

    # update the view limits
    ax.set_xlim(left[0], right[-1])
    ax.set_ylim(bottom.min(), top.max())

    plt.show()

In [13]:
def convert_percentage(df):
    for col in df.columns:
        c = col.split(" ")
        if c[-1] == "MoM" or c[-1] == "YoY": df[col] = [float(str(x).strip("%")) for x in df[col]]
    
    df['Average Sale To List'] = [float(str(x).strip("%")) for x in df['Average Sale To List']]

In [8]:
### read in data
def read_data(filename, property_type):
    df = pd.read_csv(filename)
    df.columns = [x.strip(" ") for x in df.columns]
    df['property_type'] = property_type
    df.head()
    return (df)

In [5]:
### add columns for city, state, and neighborhood
def parse_region(df):
    df['location'] = [x.split(",") for x in df.Region]
    df['city'] = [x[0].strip(",").lower() for x in df.location]
    df['state'] = [x[1].split(" ")[1].lower().strip() for x in df.location]
    df['neighborhood'] = [x[1].split(" ")[3].strip().lower() for x in df.location]
    df = df[df.city == 'san jose']
    df = df.drop('location', 1)
    df.head()

In [6]:
### convert Median Sale Price to a float
def convert_med_sale_pr(df):
    df[u'Median Sale Price'] = [x.strip("$").replace(",", "") for x in df["Median Sale Price"]]
    df[u'Median Sale Price'] = [int(x) if x[len(x)-1] != "K" else int(x.strip("K"))*1000 
                                for x in df["Median Sale Price"]]

In [14]:
df = read_data("sanjose_condos.csv", "condo")
convert_med_sale_pr(df)
parse_region(df)
convert_percentage(df)

In [15]:
df.head()

,Region,Month of Period End,Median Sale Price,Median Sale Price MoM,Median Sale Price YoY,Homes Sold,Homes Sold MoM,Homes Sold YoY,New Listings,New Listings MoM,...,Days on Market MoM,Days on Market YoY,Average Sale To List,Average Sale To List MoM,Average Sale To List YoY,property_type,location,city,state,neighborhood
0,"San Jose, CA - Alexander",January 2012,152000,-1.0,18.8,12,-7.7,100.0,12.0,0.0,...,4.0,-26.0,103.4,2.3,10.2,condo,"[San Jose, CA - Alexander]",san jose,ca,alexander
1,"San Jose, CA - Alexander",February 2012,146000,-4.0,-1.7,10,-16.7,42.9,11.0,-8.3,...,2.0,-23.0,103.4,0.0,8.9,condo,"[San Jose, CA - Alexander]",san jose,ca,alexander
2,"San Jose, CA - Alexander",March 2012,146000,0.0,-7.0,13,30.0,116.7,12.0,9.1,...,3.0,-22.0,102.0,-1.4,4.7,condo,"[San Jose, CA - Alexander]",san jose,ca,alexander
3,"San Jose, CA - Alexander",April 2012,140000,-3.6,-7.4,10,-23.1,25.0,5.0,-58.3,...,1.0,-21.0,100.5,-1.5,2.4,condo,"[San Jose, CA - Alexander]",san jose,ca,alexander
4,"San Jose, CA - Alexander",May 2012,150000,7.0,12.8,11,10.0,0.0,8.0,60.0,...,1.0,-5.0,100.8,0.3,2.3,condo,"[San Jose, CA - Alexander]",san jose,ca,alexander

In [16]:
len(df.index)

6099

In [17]:
neighborhoods = np.unique(df['neighborhood'])
print (neighborhoods, len(neighborhoods))

(array(['alexander', 'alma-almaden', 'almaden', 'anderson', 'area',
       'atlanta', 'barbera-stokes', 'berryessa', 'blackford',
       'bonita-24th', 'branham-jarvis', 'branham-kirk', 'brigadoon',
       'broadway-palmhaven', 'brooktree', 'bucknall', 'buena', 'calabazas',
       'cambrian', 'cambrian-pioneer', 'carlton', 'carson',
       'cedarville-giannotta', 'central', 'chaboya', 'cherrywood',
       'citaldi', 'clayton', 'commodore', 'crossgate', 'cypress-jurdo',
       'de', 'deer', 'del', 'dovehill', 'downtown', 'east', 'eden',
       'erikson', 'estates', 'evergreen', 'everydale-neimen', 'flickinger',
       'fowler', 'gilchrist', 'great', 'greylands', 'hammer', 'hayes',
       'heritage', 'hidden', 'hillsdale', 'hillview', 'holy', 'joaquin',
       'kenwood', 'king', 'kooser', 'lanai-cunningham', 'loma', 'lone',
       'los', 'lynbrook', 'lynhaven', 'mayfair', 'mckay-ringwood',
       'meadow', 'meadows', 'millic-phelps', 'miner', 'mirassou',
       'morrill', 'mount', 'murillo', 'noddin', 'norwood', 'notting',
       'oak', 'oster', 'overfelt', 'parkview', 'penitencia', 'quimby',
       'rainbow', 'ramblewood', 'rancho', 'riverview', 'rose-sartorette',
       'rymar', 'san', 'santee', 'serenede', 'seven', 'shadow'], dtype=object), 94)

In [18]:
df.describe()

//anaconda/lib/python2.7/site-packages/numpy/lib/function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

,Median Sale Price,Median Sale Price MoM,Median Sale Price YoY,Homes Sold,Homes Sold MoM,Homes Sold YoY,New Listings,New Listings MoM,New Listings YoY,Inventory,Inventory MoM,Inventory YoY,Days on Market,Days on Market MoM,Days on Market YoY,Average Sale To List,Average Sale To List MoM,Average Sale To List YoY
count,6.099000e+03,6078.000000,6059.000000,6099.000000,6078.000000,6059.000000,6072.000000,6034.000000,6008.000000,5564.000000,5234.000000,5158.000000,6095.000000,6072.000000,6049.000000,6099.000000,6078.000000,6059.000000
mean,6.674415e+05,1.828397,15.379898,166.009510,6.901810,18.771282,208.738307,6.244962,12.468309,528.149892,17.350210,17.218767,24.227892,-0.170619,-3.376426,103.227332,0.034847,0.821439
std,2.945102e+05,13.193925,25.687286,881.015046,45.459799,96.897160,1140.236187,45.000474,82.396511,3028.361492,79.290597,116.312958,20.550244,17.651727,30.297723,3.870555,2.405655,4.583911
min,1.250000e+05,-61.500000,-65.500000,1.000000,-85.700000,-92.900000,1.000000,-87.500000,-92.900000,1.000000,-87.500000,-94.700000,1.000000,-327.000000,-383.000000,77.700000,-18.500000,-27.800000
25%,4.500000e+05,NaN,NaN,5.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.700000,NaN,NaN
50%,6.250000e+05,NaN,NaN,8.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,102.700000,NaN,NaN
75%,8.240000e+05,NaN,NaN,11.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.200000,NaN,NaN
max,2.248000e+06,169.600000,335.700000,10715.000000,600.000000,1400.000000,13145.000000,500.000000,900.000000,28027.000000,700.000000,1500.000000,357.000000,220.000000,270.000000,127.900000,24.300000,28.500000

In [ ]:
make_histogram(df['Median Sale Price'], 50)

In [19]:
sum(pd.isnull(df['New Listings YoY']))

91

In [27]:
df = df.fillna(0)

In [28]:
df.describe()

,Median Sale Price,Median Sale Price MoM,Median Sale Price YoY,Homes Sold,Homes Sold MoM,Homes Sold YoY,New Listings,New Listings MoM,New Listings YoY,Inventory,Inventory MoM,Inventory YoY,Days on Market,Days on Market MoM,Days on Market YoY,Average Sale To List,Average Sale To List MoM,Average Sale To List YoY
count,6.099000e+03,6099.000000,6099.000000,6099.000000,6099.000000,6099.000000,6099.000000,6099.000000,6099.000000,6099.000000,6099.000000,6099.000000,6099.000000,6099.000000,6099.000000,6099.000000,6099.000000,6099.000000
mean,6.674415e+05,1.822102,15.279029,166.009510,6.878046,18.648172,207.814232,6.178406,12.282276,481.820954,14.889490,14.562125,24.212002,-0.169864,-3.348746,103.227332,0.034727,0.816052
std,2.945102e+05,13.171622,25.632984,881.015046,45.383256,96.590724,1137.793492,44.764590,81.793372,2896.324563,73.700978,107.143564,20.552866,17.612609,30.174792,3.870555,2.401510,4.569333
min,1.250000e+05,-61.500000,-65.500000,1.000000,-85.700000,-92.900000,0.000000,-87.500000,-92.900000,0.000000,-87.500000,-94.700000,0.000000,-327.000000,-383.000000,77.700000,-18.500000,-27.800000
25%,4.500000e+05,-2.000000,2.500000,5.000000,-18.200000,-30.000000,5.000000,-19.450000,-32.750000,2.000000,-25.000000,-50.000000,11.000000,-3.000000,-11.000000,100.700000,-1.000000,-1.700000
50%,6.250000e+05,0.100000,11.800000,8.000000,0.000000,0.000000,8.000000,0.000000,0.000000,3.000000,0.000000,0.000000,17.000000,0.000000,0.000000,102.700000,0.000000,0.800000
75%,8.240000e+05,4.300000,23.100000,11.000000,20.000000,33.300000,12.000000,22.200000,30.000000,5.000000,25.000000,25.000000,30.000000,3.000000,8.000000,105.200000,1.000000,3.500000
max,2.248000e+06,169.600000,335.700000,10715.000000,600.000000,1400.000000,13145.000000,500.000000,900.000000,28027.000000,700.000000,1500.000000,357.000000,220.000000,270.000000,127.900000,24.300000,28.500000